/*.bg {*/
    /*box-sizing: border-box;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*font-family: 'MuseoSansCyrl300';*/

/*}*/
div.clear-padding{
    padding-right: 0;
    padding-left: 0;
}

div.bg{
    background-color: white;
}
/*div.test-bg{*/
    /*background-color: white;*/
    /*margin-top: 100px;*/
/*}*/
div.test-bg h1{
    color: #27d3f3;
    font-size: 48px;
    margin-top: 50px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-family: 'MuseoSansCyrl900';
    padding-left: 15px;
}


div.blog-article{
    margin-bottom: 45px;
    height: 400px;

}
div.blog-article h3{
    color: black;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'MuseoSansCyrl900';
}

a.read-more{
    background-color: #27d3f3;
    border-radius: 3px;
    border: none;
    padding: 13px 18px;
    color: white;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    font-family: 'MuseoSansCyrl700';

}
a.read-more:hover
{
    background-color: #e8eeee;
    color: #7d7d7d;
}

span.date{
    display: inline-block;
    color: #949494;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    margin-left: 15px;
    margin-top: 20px;

    font-family: 'MuseoSansCyrl700';
}



span.rubric{
    display: inline-block;
    padding: 12px 15px;
    background-color: #e8eeee;
    border-radius: 3px;
    margin-top: 15px;
    color: #7d7d7d;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
}

span.rubric a{
    color: #7d7d7d;
    font-family: 'MuseoSansCyrl700';
}



div.be-with-us{
    background-color: #e8eeee;
    border-radius: 3px;
    padding-bottom: 20px;
    padding-top: 5px;
    text-align: center;
}

div.be-with-us h3{
    color: black;
    font-size: 18px;
    line-height: 63px;
    margin-top: 0;
    text-transform: uppercase;
    font-family: 'MuseoSansCyrl700';
}

ul.aside-social-networks{
    list-style-type: none;
    padding-top: 15px;
    padding-left: 0;

}
ul.aside-social-networks li{
    display: inline-block;
    margin-left: 15px;

}

li.vk-aside {
    /*background-image: url("img/aside-vk.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*padding: 14px 15px;*/
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #41658b;
    font-size: 25px;
    text-align: center;
}
li.vk-aside i{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

li.fb-aside {
    /*background-image: url("img/aside-fb.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*padding: 14px 21px;*/
    height: 50px;
    width: 50px;
    font-size: 25px;
    border-radius: 50%;
    background-color: #39579a;
}

li.fb-aside i{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
li.tw-aside {
    /*background-image: url("img/aside-tw.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*padding: 14px 15px;*/
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #00abf0;
    color: white;
    font-size: 25px;
}
li.tw-aside i{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
li.g-aside {
    /*background-image: url("img/aside-g.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*padding: 14px 15px;*/
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #ef6048;
    color: white;
    font-size: 25px;
}

li.g-aside i{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.sidebar__bt{
    margin: 20px 0;
}

.sidebar__bt a{
    padding: 23px;
    font-size: 18px;
    font-family: MuseoSansCyrl900;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;
}

.sidebar__bt .active a{
    background-color: #27d3f3!important;
    color: white;
}

div.subscribe{
    background-color: black;
    text-align: center;
    padding-bottom: 10px;
}
div.subscribe h3{
    margin-top: 0;
    font-size: 18px;
    line-height: 63px;
    text-transform: uppercase;
    color: white;
}

div.subscribe h3 span{
    font-size: 18px;
    color: #4dddf8;
    text-transform: uppercase;
}

div.subscribe input{
    background-color: black;
    border-radius: 3px;
    border: 1px solid #7b7b7b;
    width: 80%;
    height: 40px;
    padding: 0 10px;
    text-align: left;
    margin-bottom: 10px;
    color: white;
}

.subscribe .send{
    background-color: white;
    border-radius: 3px;
    padding: 10px 32px;
    border: none;
    color: black;
    font-size: 14px;
    line-height: 14px!important;
    text-transform: uppercase;
    margin-bottom: 15px;
    width: 80%;
    text-align: center;
    height: auto;
    transition: all 400ms ease;
    margin-top: 0;
    display: inline-block;
}

.subscribe .send:hover{
    background-color: #7b7b7b;
    color: white;
}

div.aside-rubrics{
    margin-bottom: 20px;
}

div.aside-rubrics h2{
    color: #27d3f3;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: 'MuseoSansCyrl900';
    letter-spacing: 1px;
}

div.aside-rubrics ul{
    list-style-type: none;
    padding: 0;
}
div.aside-rubrics ul li{
    padding: 12px 50px;
    border: 1px solid black;
    border-bottom: none;
    /*border-radius: 3px;*/
}
div.aside-rubrics ul li:last-child{
    border-bottom: 1px solid black;
}
div.aside-rubrics ul li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    line-height: 38px;
    font-family: 'MuseoSansCyrl700';
}

div.aside-rubrics ul li a:hover{
    color: #27d3f3;
}




a.aside-top,.aside-recent{
    color: black;
    font-size: 18px;

    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    background-color: none;
}
a.aside-top:hover{
    background-color: #27d3f3;
    color: white;

}
a.aside-recent:hover{
    background-color: #27d3f3;
    color: white;
    text-decoration: none;
}

ul.aside-nav{
    padding-left: 15px;
    margin-top: 20px;
    height: auto;
}

ul.aside-nav li{

}

div.aside-content{
    padding-left: 15px;
    margin-top: 20px;
}

div.aside-comments{
    padding: 0;

    margin-top: 20px;

}

.comments__blog h3{
    font-family: "Museo Sans Cyrl 900";
    font-size: 18px;
    color: #27d3f3;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 25px;

}


 h3.last-comments{
    color: #27d3f3;
    font-size: 18px;
    line-height: 63px;
    text-transform: uppercase;
     font-family: 'MuseoSansCyrl700';
     padding-left: 15px;
}

/*li.comments-recent{*/
    /*margin-bottom: 25px;*/
    /*list-style-type: none;*/
/*}*/

ul.aside-recent-comments{
    padding-left: 15px;
}
div.aside-comments p.comment  {
    background-color: #e8eeee;
    border-radius: 3px;
    padding: 5px 50px;
    color: #464646;
    font-size: 11px;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 25px;
    font-family: 'MuseoSansCyrl900';
}
div.aside-comments p.comment a{
    color: #464646;
    font-family: 'MuseoSansCyrl900';
}

div.aside-comments span.comment-name{
    color: #7d7d7d;
    font-family: 'MuseoSansCyrl900';
}
div.aside-comments span.comment-date{
    float: right;
    color: #7d7d7d;
    font-family: 'MuseoSansCyrl900';
}
ul.aside-top-recent{
    list-style-type: none;
    padding: 0;
}

ul.aside-top-recent img{
    width: 100%;
    height: 100%;
}

a.title-recent p{
    color: black;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 10px;
    font-family: 'MuseoSansCyrl900';
    text-align: center;
}

.comments__blog{
    clear: both;
    margin-top: 10px;
}

.last__comments{
    padding-left: 0;
}

.last__comments .comment{
    padding: 20px;
    background-color: #e8eeee;
    margin-bottom: 25px;
}

.last__comments a{
    font-size: 11px;
    font-family: MuseoSansCyrl900;
    color: #464646;
    text-decoration: none;

}

.last__comments .comment-name{
    font-size: 12px;
    font-family: MuseoSansCyrl500;
    color: #7d7d7d;
    text-transform: uppercase;
    line-height: 2;
}

.last__comments .comment-date{
    font-size: 11px;
    font-family: MuseoSansCyrl500;
    color: #7d7d7d;
    text-transform: uppercase;
    float: right;
    line-height: 2;
}


.--blog{
    margin-top: 0!important;
}